@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900&display=swap");
html,
body {
  position: relative;
  height: 100%;
  font-family: "Montserrat" !important;
}
a {
  color: #6cb42f;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  text-decoration: none !important;
}
.text-primary-section {
  color: #7fd858 !important;
}
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
/*Section header*/
.header {
  background-image: url("../images/bg-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #fff;
  padding: 20px;
}

.subtitle-logo {
  position: relative;
  top: -20px;
  left: 0px;
  font-size: 3.3vw;
  text-align: center;
}
.title-opt {
  font-size: 3rem;
  margin-top: 60px;
  margin-bottom: 45px;
  font-weight: bold;
  text-align: center;
}
.content-text-opt {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.text-opt {
  font-weight: 700;
  margin-top: 15px;
}
.btn-primary {
  color: #000 !important;
  background-color: #6cb42f !important;
  border-color: #6cb42f !important;
  border-radius: 50px !important;
  padding: 8px 25px !important;
  font-weight: bold !important;
  font-size: 22px !important;
  box-shadow: 0px 6px 7px 1px #0000009c !important;
}
.btn-primary-white {
  color: #fff !important;
  background-color: #6cb42f !important;
  border-color: #6cb42f !important;
  border-radius: 50px !important;
  padding: 8px 20px !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  box-shadow: 0px 6px 7px 1px #0000009c !important;
}

/*Section 1*/
.section-1 {
  padding: 100px 0px;
}
.title-section {
  font-size: 3rem;
  font-weight: 900;
}
.text-section {
  line-height: 35px;
}
.text-sponsor {
  line-height: 22px;
}
.media-elemental {
  background-image: url("../images/app.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 300px;
  min-height: 315px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.36);
}
.content-sponsor {
  margin-top: 95px;
}

.p-sponsor {
  padding: 0px 35px !important;
  margin-bottom: 45px;
}
.divider-center {
  padding: 0px 35px !important;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-bottom: 45px;
}

@media (max-width: 576px) {
  .media-elemental {
    display: none !important;
  }
  .divider-center {
    padding: 0px 35px !important;
    border-left: none;
    border-right: none;
    margin-bottom: 45px;
  }
}

/*Section*/
.section-2 {
  padding: 50px 0px;
  background-color: #333;
  color: #fff;
}
.content-section-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.title-section-2 {
  font-weight: 700;
}

@media (max-width: 576px) {
  .content-section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*Section 3*/
.section-3 {
  padding: 100px 0px;
}
.banner-left {
  background-image: url("../images/workout.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 600px;
  width: 50%;
  position: relative;
}
.banner-left:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35);
}
.banner-left div {
  color: #fff;
  z-index: 999;
}
.banner-right {
  background-image: url("../images/food.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 600px;
  width: 50%;
  position: relative;
}
.banner-right:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35);
}
.banner-right div {
  color: #fff;
  z-index: 999;
}

.content-text-banner {
  text-align: center;
  margin: 0px 65px;
  padding: 30px 25px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

@media (max-width: 576px) {
  .content-text-banner {
    margin: 0px 20px;
  }
}

.footer {
  background-color: #fff;
  color: #8d8d8d;
  padding: 15px 0px;
  display: flex;
  justify-content: space-around;
  align-self: center;
}
.footer div {
  margin: 5px;
}
.content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-footer {
  cursor: pointer;
  margin: 0px 10px;
}

@media (max-width: 576px) {
  .footer {
    background-color: #fff;
    color: #8d8d8d;
    padding: 15px 0px;
    text-align: center;
    display: block;
  }
}

.link-footer-text {
  cursor: pointer;
  color: #8d8d8d;
  transition: all 0.3s ease-in-out;
}

.link-footer-text:hover {
  color: #6cb42f;
}

.icon-footer {
  color: #8d8d8d;
  transition: all 0.3s ease-in-out;
}
.icon-footer:hover {
  color: #6cb42f;
}

/*Style Form*/
.bg-form {
  background-image: url("../images/banner2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #fff;
  padding: 20px;
}
.bg-form-payment {
  background-image: url("../images/banner2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #fff;
  padding: 20px;
}

.link-back {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.link-back:hover {
  color: #6cb42f;
}

.card-form {
  background-color: #0e0e0ee0;
  width: 525px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.content-form {
  margin-top: 55px;
  margin-bottom: 45px;
  padding: 0px 65px;
}

.btn-selection {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 50px;
  text-align: left;
  margin-bottom: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.active {
  background-color: #6cb42f;
  border: 1px solid #6cb42f !important;
  color: #000;
}

.icon-check {
  display: inline-block;
  position: relative;
  left: -32px;
  top: -2px;
}
.content-genero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-genero {
  padding: 25px 40px;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}
.input-form {
  border-radius: 0px !important;
  background-color: transparent !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  color: #fff !important;
  transition: border-width 0.3s ease-in-out;
}
.input-form:focus {
  border-color: #fff !important;
  outline: 0 !important;
  box-shadow: none !important;
  border-width: 2px !important;
}
.btn-primary-outlined {
  border: 1px solid #fff !important;
  color: #fff !important;
  padding: 10px 75px !important;
}
@media (max-width: 576px) {
  .card-form {
    width: 100%;
  }
  .content-form {
    padding: 0px 15px;
  }
  .bg-form-payment {
    height: auto;
  }
}
